*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --color1: #8C1127;
    --color2:#F2E0BD;
    --color3:#F27507;
    --color4:#F20505;
    --color5:#D9C5A0;
    --color6:#940D11;
    flex-wrap: nowrap;
}

#caja{
    width: 1800px;
    margin: 0 auto; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}


#menu{ 
    background-color: var(--color2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 160px 0px 200px;
}

.menu{
    background-color: palegreen;
    padding: 15px;
    border-radius: 100px;   }

#menu a{
    color: black;
    text-decoration: none;  }

#menu a:hover{
    color: var(--color1);
    opacity: 50%;
}



#infouno{
    display: flex;
    flex-direction: row;
    margin: 10px 0px 10px 0px;
}

#infouno p{
    margin: 5px 10px 10px 20px;
}
#cuerpo{
    display: flex;
    justify-content: center;
    margin: 25px 80px 10px 80px;
    
}

#cuadro{
    margin: 25px 20px 10px 20px;
}

#cuadro h2{
    color:#d32459;
}















#pie{
    display: flex;
    background-color: var(--color6);
    color: white;
    justify-content: space-evenly;
    align-items:flex-start;
    
}


#pie h3{
    padding-bottom: 5px;
    padding-top: 20px;
}



#lineatres{
    border: 2px solid;
    color: rgb(180, 58, 58);
}

#columna{
    width: 300px;
    font-size: 20px;
    
}